<ion-view ng-controller="AboutCtrl" hide-nav-bar="true">

    <ion-content id="AboutView">
      <br>
      <div class="row row-center">
        <div class="col col-33">

        </div>
        <div class="col col-33 col-offset-33" id="btnCloseLogin">
          <a ng-click="salirAbout()"><img src="img/close-white.png"></a>
        </div>
      </div>
      <div class="list contentAbout">
        <br>
        <div class="row row-center" id="contentLogo">
          <img src="img/logoblanco.png" />
        </div>
        <br>
        <div class="row row-center">
          <span>Versión 2.0</span>
        </div>
        <div class="row row-center">
          <p>Condones cuando más los necesitas</p>
        </div>
        <div class="row row-center">
          <p>www.quiickly.co</p>
        </div>
        <div class="row row-center">
          <span>© Quiickly 2016, Todos los derechos reservados</span>
        </div>
      </div>
    </ion-content>
</ion-view>
