<ion-view ng-init="registerAddress()">
  <ion-content>
    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" ng-model="addressNew" placeholder="Nueva Dirección">
      </label>
      <label class="item item-input">
        <input type="text" ng-model="nameAdreess" placeholder="Nombre">
      </label>
      <button class="button button-block button-royal" ng-click="registerAddress()">Registrarme</button>
    </div>
    <div class="row row-center">
      <div class="col">
        <ul ng-repeat="address in Addresses">
          <li>{{address.name}} - {{address.address}}</li>
        </ul>
      </div>
    </div>
  </ion-content>
</ion-view>
