<ion-view view-title="Direcciones" ng-init="registerAddress()">
  <ion-content>
    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" ng-model="addressNew" placeholder="Nueva Dirección">
      </label>
      <label class="item item-input">
        <input type="text" ng-model="nameAdreess" placeholder="Nombre">
      </label>
      <button class="button button-block button-royal" ng-click="registerAddress()">Registrarme</button>
      <ul ng-repeat="address in addressUser">
        <li>{{address.addressNew}}{{address.nameAddress}}</li>
      </ul>
  </ion-content>
</ion-view>
