<ion-view>
    <ion-content id="contentMap" ng-init="loadProducts($index)">
      <!-- Barra de busqueda dirección -->
      <div class="bar-subheader">
        <label class="item item-input contentAddress">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="search" id="direccion_field" placeholder="Dirección">
        </label>
      </div>

      <!-- Google Maps -->
      <div id="map" data-tap-disabled="true"></div>

      <!-- Slide productos -->
      <ion-slide-box on-slide-changed="slideChanged(index)">
        <ion-slide ng-init="onDeleteClick()" ng-repeat="product in Products">
          <img style="width: 30%" src="{{product.image}}" ng-click="openProduct()">          
        </ion-slide>
      </ion-slide-box>

      <!-- Información -->
      <div id="contentInfo" class="row ">
        <!--<button class="button button-stable " id="btnAgregar">Agregar</button>-->
        <div class="col col-67 divPago button-bar">
          <a id="efectivo" class="button icon-left ion-cash" ng-class="classPago" ng-click="changeClass()">Efectivo</a>
          <a id="credit-card" class="button icon-left ion-card" ng-click="openModal()">T. Credito</a>
        </div>
        <div id="precio-nombre" class="col col-33"><p class="textPrecio">{{InfoProduct.name}} ${{InfoProduct.price}} </p></div>
      </div>

    </ion-content>
    <ion-footer-bar class="footer-bar-custom">
        <a ng-click="goTo()" class="footer-bar-item item-center button button-balanced" nav-direction="back">ENVÍAMELO YA!</a>
    </ion-footer-bar>
</ion-view>
