<ion-side-menus enable-menu-with-back-views="true">

  <ion-side-menu-content>

    <ion-nav-bar class="bar-light nav-title-slide-ios7">
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear" menu-toggle="left"><img src="img/menu.png"></button>
      </ion-nav-buttons>
    </ion-nav-bar>

    <ion-nav-view name="menuContent">
      <ion-view title="<img class='title-image' src='img/logo-purple.png' />" left-buttons="leftButtons" right-buttons="rightButtons" hide-back-button="true" class="bubble-background">
    </ion-nav-view>

  </ion-side-menu-content>

    <ion-side-menu side="left">
      <ion-content>
        <ion-list id="listMenu">
          <br>
          <br>
          <br>
          <ion-item nav-clear menu-close ng-href="#/app/map" class="item item-icon-left menuItem" >
            <i class="icon ion-ios7-ionic-outline"></i>Inicio
          </ion-item>
          <ion-item nav-clear menu-close ng-href="#/app/profile" ng-click="verifTUser()" class="item item-icon-left menuItem">
            <i class="icon ion-ios7-ionic-outline"></i>Perfil
          </ion-item>
          <ion-item nav-clear menu-close href="#/app/address" class="item item-icon-left menuItem" >
            <i class="icon ion-ios7-help"></i>Mis direcciones
          </ion-item>
          <ion-item nav-clear menu-close href="mailto:soporte@quiickly.co" class="item item-icon-left menuItem menuItem" >
            <i class="icon ion-ios7-help"></i>Soporte
          </ion-item>
          <ion-item nav-clear menu-close href="#/app/about" class="item item-icon-left menuItem" >
            <i class="icon ion-ios7-help"></i>Acerca
          </ion-item>
          <ion-item nav-clear menu-close ng-click="logout()" ng-show="isLoggedIn()" class="item item-icon-left menuItem" >
            <i class="icon ion-ios7-help"></i>Salir
           </ion-item>
           <div class="item item-avatar">
             <img src="mcfly.jpg">
             <h2>{{menuNombre.name}}</h2>
             <p>{{user.id}}</p>
           </div>
		    </ion-list>
	    </ion-content>
    </ion-side-menu>

</ion-side-menus>
