boto==2.39.0
boto3==1.3.0
botocore==1.4.7
defusedxml==0.4.1
Django==1.9.4
django-cors-headers==1.1.0
django-debug-toolbar==1.4
django-storages==1.4
djangorestframework==3.3.3
djangorestframework-jwt==1.7.2
docutils==0.12
jmespath==0.9.0
oauthlib==1.0.3
Pillow==3.1.1
psycopg2==2.6.1
PyJWT==1.4.0
python-dateutil==2.5.1
python-social-auth==0.2.14
python3-openid==3.0.9
requests==2.9.1
requests-oauthlib==0.6.1
six==1.10.0
sqlparse==0.1.19
