.login-background
{
    background: url('/static/drugstores/images/background.png') no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.login-container
{
    background: rgba(122, 41, 159, 0.8);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: white;
    margin: 12% auto 0 auto;
    max-width: 30em;
    padding: 1em;
    width: 80%;
}
