.login-background
{
    align-items: center;
    background: rgb(191,108,214);
    background: -moz-linear-gradient(45deg,  rgba(191,108,214,1) 1%, rgba(95,58,178,1) 100%);
    background: -webkit-linear-gradient(45deg,  rgba(191,108,214,1) 1%,rgba(95,58,178,1) 100%);
    background: linear-gradient(45deg,  rgba(191,108,214,1) 1%,rgba(95,58,178,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf6cd6', endColorstr='#5f3ab2',GradientType=1 );
    display: flex;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.login-container
{
    background: rgba(122, 41, 159, 0.8);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: white;
    margin: auto;
    max-width: 30em;
    padding: 1em;
    width: 80%;
}
