
{% extends "master-web.html" %}

{% block title %}Condones cuando más los necesitas{% endblock title %}

{% block description %}En Quiickly enviamos condones cuandos mas los necesitas.{% endblock description %}

{% block keywords %}Condones, App, movil, preservativos, cali, caracol, adn, miguelreng, miguel, rengifo, quiickly, quickly, startup, colombia, cali, sexo, sexual, sensual, durex, domicilio, 20, minutos, programado, express, embarazos, no, deseados, amor, corazon, amistad{% endblock keywords %}

      <!-- Principal -->
      <section id="acerca">
        <div id="content-acerca">
            <div id="container-acerca">
                <div class="posterMenu">
                  <figure class="layout-contentLogo">
                    <a href="/"><img src="{% static 'web/images/blog-blanco.png' %}" alt="Quiickly - quiickly.co" /></a>

                  </figure>

                  <div class="menuNav">
                      <ul class="listMenu">
                          <li class="btnVolver">
                            <a href="/"><p>Inicio</p></a>
                          </li>
                      </ul>
                  </div>
                </div>
            </div>
          </div>
      </section>

      <!-- Acerca -->

      <div class="main-option-acerca">
        <div class="content-main-acerca">
          <h2 class="main-title-acerca">Acerca de Nosotros</h2>
          <p>Somos una startup enfocada en el servicio de condones a domicilio en menos de 20 mins, conectamos las cadenas de droguerías y los usuarios que por distintas circunstancias no pueden ir a una droguería o no tienen el tiempo para adquirir un condón a tiempo</p>
          <h2 class="main-title">El Equipo</h2>
          <div class="col1">
            <img src="{% static 'web/images/miguel1.jpg' %}" alt="Miguel Rengifo Gerente y Co-fundador de Quiickly">
            <h3 class="title-cargo">Miguel Rengifo</h3>
            <p class="text-fe">CEO, Co-Fundador</p>
          </div>      
          <div class="col2">
            <img src="{% static 'web/images/marcela.jpg' %}" alt="Marcela Zuñiga Social Media Manager de Quiickly">
            <h3 class="title-cargo">Marcela Zuñiga</h3>
            <p class="text-fe">Social Media Manager</p>
          </div>   
          <div class="col3">
            <img src="{% static 'web/images/tilson.jpg' %}" alt="Tilson Fernandez CTO y Co-Fundador de Quiickly">
            <h3 class="title-cargo">Tilson Fernandez</h3>
            <p class="text-fe">CTO, Co-Fundador</p>
          </div>
          <div class="col2">
            <img src="{% static 'web/images/robert.jpg' %}" alt="Roberth Solis desarrolador Backend de Quiickly">
            <h3 class="title-cargo">Roberth Solis</h3>
            <p class="text-fe">Lead Developer</p>
          </div>
          
        </div>
      </div>


      <!-- App móvil -->
      <div class="app" id="promoAcerca">
        <div class="izq">
          <img src="{% static 'web/images/condones.png' %}" id="condones" alt="Algunos de nuestros productos en Quiickly">
        </div>
        <div class="dere" id="dereAcerca">
          <h2>Disfruta el Momento</h2>
            <p>Empieza hoy a cuidarte y a disfrutar el momento con un Quiickly</p>
            <div class="main-btn-acerca">
              <a href="#"><button class="button-store">Envíamelo!</button></a>
            </div>
        </div>
      </div>
