*
{
    font-size: 16px;
    font-family: 'Roboto', Verdana, Arial;
    margin: 0;
    padding: 0;
}

.box-error
{
    background: #ad1717;
    border-radius: 5px;
    color: white;
    margin: .5em auto;
    max-width: 15em;
    padding: .8em;
}

.box-sizing
{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.box-success
{
    background: rgba(47,132,47,0.85);
    border-radius: 5px;
    color: white;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    text-align: center;
    width: 15em;
}

.highlighted-box
{
    box-shadow: 0px -0.5em 0px 0px rgba(34, 36, 38, 0.20) inset;
    -moz-box-shadow: 0px -0.5em 0px 0px rgba(34, 36, 38, 0.20) inset;
    -webkit-box-shadow: 0px -0.5em 0px 0px rgba(34, 36, 38, 0.20) inset;
}

.input-error
{
    border: 2px solid #ad1717 !important;
}

.input-form
{
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    color: #404040;
    display: block;
    margin: .5em auto;
    padding: .5em;
    width: 15em;
}

.submit-button
{
    background-color: #4d90fe;
    background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
    background-image: -moz-linear-gradient(top,#4d90fe,#4787ed);
    background-image: -ms-linear-gradient(top,#4d90fe,#4787ed);
    background-image: -o-linear-gradient(top,#4d90fe,#4787ed);
    background-image: linear-gradient(top,#4d90fe,#4787ed);
    border: 1px solid #3079ed;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color: #fff;
    cursor: pointer;
    margin: 0 auto;
    max-width: 15em;
    padding: .7em;
    text-align: center;
    text-shadow: 0 1px rgba(0,0,0,0.1);
}

.text-center
{
    text-align: center;
}
